/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Mulish:wght@400;500;600;700;800;900&display=swap');

/* imported font family 
font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
*/
/* common code start here */
:root {
    --title-color: #131318;
    --orange-color: #FF5400;
}

body {
    padding: 20px 140px;
}

#orange {
    color: var(--orange-color);
}

.hide {
    display: none;
}

.section-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

.small-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
}

.btn {
    color: #FFF;
    border: 0;
    border-radius: 8px;
    background-color: var(--orange-color);
    padding: 12px 30px;
}

.btn:active {
    background-color: gray;
    color: aquamarine;
}

/* common code end here */

/* header section start,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.header {
    font-family: 'Mulish', sans-serif;
}

/* navigation part */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    width: 30%;
}

.brand h2 {
    color: var(--title-color);
    font-size: 36px;
    font-weight: 800;
}

.nav ul {
    display: flex;
    gap: 25px;
}

.nav li {
    list-style: none;
}

.nav li>a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav li>a:hover {
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
}

/* banner part */
.banner-part {
    width: 75vw;
    height: 70vh;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(rgba(7, 2, 17, 0.5), rgba(7, 2, 17, 0)), url("../Images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.banner-content {
    padding: 130px 0;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin: 0;
}

.banner-desc {
    margin: 20px 200px 40px;
    color: white;
}

.banner-part .select-div {
    width: 70%;
    height: auto;
    padding: 10px 0 10px 30px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    gap: 20px;
}

.select-div .select {
    background-color: #fff;
    width: 150px;
    height: 20px;
    text-align: left;
    padding: 15px 20px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.select-div .select i {
    float: right;
}

/* main section start,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
main section {
    margin: 70px 0;
}

/* popular tour section */
.tour-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.tour-content .small-text {
    color: rgba(19, 19, 24, 0.70);
}

.tour-content ul li {
    margin-top: 20px;
}

.tour-content .btn {
    font-weight: bold;
}

/* your destination section start */
.your-destination{
    padding: 0 100px;
    text-align: center;
}
.your-destination .small-text{
    color: rgba(19, 19, 24, 0.70);
}
.destini-img-container img{
    margin: 5px 15px;
}
/* footer section start */



/* mobile media query start */
@media screen and (max-width:600px) {

    /* common code */
    body {
        padding: 20px 20px;
    }

    .section-title {
        font-size: 20px;
    }
    .small-text{
        font-size: 14px;
    }
    /* header section,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
    .brand h2 {
        font-size: 20px;
    }

    .nav {
        width: 70%;
        margin: 0 auto;
    }

    /* navigation part */
    .nav ul {
        display: none;
    }

    .hide {
        display: block;
    }

    /* banner part */
    .banner-part {
        width: 75vw;
        height: 70vh;
    }

    .banner-part {
        width: 70vw;
        height: 80vh;
        margin-top: 30px;
        background-size: cover;
        background-position: center;
    }

    .banner-content {
        padding: 30px 0;
    }

    .banner-title {
        font-size: 22px;
    }

    .banner-desc {
        font-size: 14px;
        margin: 20px 20px 40px;
    }

    .banner-part .select-div {
        flex-direction: column;
        padding: 10px 0 10px 0px;
        gap: 25px;
    }

    .select-div .select {
        width: 75%;
    }

    .select-div .btn {
        width: 85%;
    }

    /* main part start */

    /* popular tour section */
    .tour-section {
        flex-direction: column;
        gap: 40px;
    }

    .tour-content {
        width: 70%;
        margin: 0 auto;
    }

    .tour-section img {
        width: 70%;
        margin: 0 auto;
    }

    /* your destination section */
    .destini-img-container{
        text-align: center;
    }
    .destini-img-container img{
        width: 75%;
        margin: 5px 15px;
    }
}